* {
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

*:root {
    --white: #ffffff;
    --light: #d4d1d1; 
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: linear-gradient(-120deg, #de38ff, #2a1847);
    position: relative;
}

.container {
    width: 500px;
    background-color: #fff;
    padding: 20px;
    border-radius: 16px;
    box-shadow: 0 18px 7px rgba(0, 0, 0, 0.1);
    position: relative;
}

.container h3 {
    font-size: 1.5rem;
	font-weight: 600;
	margin-bottom: 1rem;
	margin-bottom: 15px;
}

.form-group input{
    width: 100%;
    border-radius: 8px;
    padding: 8px;
    background: var(--light);
    margin-bottom: 1px;
    border: 2px solid #ccc;
}

.form-group label {
    margin-bottom: 10px;
    font-weight: bold;
    display: block;
    color: #333;
}

.input-group {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.input-group select,
.input-group input[type="number"] {
    width: 50%;
    padding: 8px;
    font-size: 15px;
    border: 2px solid #ddd;
    border-radius: 8px;
    outline: none;
    background: var(--light);
}

.input-group select {
    margin-right: 10px;
}

.label,
.total-label {
    font-weight: bold;
    margin-bottom: 10px;
    display: block;
    color: #333;
}

.payment-methods {
    margin-bottom: 20px;
}

.payment-methods label {
    display: flex;
    align-items: center;
    padding: 8px;
    margin-bottom: 10px;
    background-color:var(--light);
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    border: 1px solid #ddd;
    color: #333;
}

.payment-methods input {
    margin-right: 10px;
}

.payment-methods .highlight {
    background-color:var(--light);
    font-size: 12px;
    padding: 2px 6px;
    border-radius: 4px;
    color: #555555;
    margin-left: 5px;
}

.total-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: var(--light);
    font-size: 18px;
    text-align: center;
    margin-top: 20px;
}

.total-box .price {
    font-weight: bold;
    font-size: 24px;
    color: #333;
}

.bnt-group {
    position: absolute;
    top: 50%;
    right: 26%;
    transform: translateY(-50%);
}

.bnt.enviar {
    width: 70px; 
    height: 70px; 
    border-radius: 50%; 
    background-color: #007BFF;
    color: #fff; 
    font-size: 20px; 
    border: none; 
    display: flex;
    justify-content: center; 
    align-items: center; 
    cursor: pointer; 
    transition: background-color 0.3s; 
}


.bnt.enviar:hover {
    background-color: #0056b3; 
}
