<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FreelancerBrasileiro</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<header>
    <nav>
        <div class="container">
            <h6 class="logo">Freelancer Brasileiro</h6>
            <ul class="nav-links">
                <li><a href="/projects" target="_blank" rel="noopener noreferrer">Projetos</a></li>
                <li><a href="/projects/create" target="_blank" rel="noopener noreferrer">Cadastrar Projeto</a></li> <!-- Alterado aqui -->
                <li><a"/about">Sobre Nós</a></li>
                <li><a"/contact">Contato</a></li>
            </ul>
        </div>
    </nav>
</header>
</body>
</html>
